body, html {
  height: 100%;
  width: 100%;
}

.lead {
  font-size: 18px;
  font-weight: 400;
}

.intro-header {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  color: #f8f8f8;
  background: url(../img/bg_3.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
}

.intro-message {
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;
}

.intro-message > h1 {
  /* margin: 0; */
  margin-bottom: 50px;
  font-size: 5em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-family: 'Kaysuan Script', cursive;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
  font-size: 18px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    font-size: 3em;
  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }
}

ul.intro-social-buttons li small {
  font-size: 80%;
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section {
  margin-top: 30px;
}

.content-section h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1;
}

.section-heading {
  margin-bottom: 30px;
  text-align: center;
}

.home-col {
  padding-left: 40px;
  padding-right: 40px;
}

.section-heading i {
  font-size: 75px;
}

.note {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.container #content {
  padding: 0px;
}
